<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>

<body>

  <div class="row">
    <div class="col-lg-12 ">
      <div class="alert alert-info" *ngIf=employee>
        <strong>Welcome {{employee.name}} ! </strong> Have a Good day at work.
      </div>
    </div>
  </div>

  <div class="row" *ngIf=!employee>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <form class="input-group">
        <div class="input-group">
          <span class="input-group-addon"></span>
          <input type="text" class="form-control" name="username" [(ngModel)]="username" placeholder="Username" ng-required="required"
          />
        </div>
        <br />
        <div class="input-group">
          <span class="input-group-addon"></span>
          <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Password" ng-required="required"
          />
        </div>
        &nbsp;
        <div *ngIf="username.length>0 && password.length>0">
          <input type="submit" (click)="login()" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>

  <div *ngIf=employee>

    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            Start your day by entering your Cash Drawer balance
          </div>
          <div class="panel-body">
            <form class="input-group">
              <div class="input-group">
                <span class="input-group-addon"></span>
                <input type="number" class="form-control" name="startBalance" [(ngModel)]="startBalance" placeholder="Start Balance" />
              </div>
              &nbsp;
              <div *ngIf="startBalance>0">
                <input type="submit" (click)="startBal()" class="btn btn-primary">
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>

  </div>



</body>

</html>